<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Auto Configure</title>
  <link rel="shortcut icon" href="static/favicon.ico">
  <link rel="stylesheet" href="static/libs/material.min.css">
  <link rel="stylesheet" href="static/libs/getmdl-select.min.css">
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row" style="cursor: pointer;">
        <h3 id="title">Auto Configure</h3>
      </div>
      <div class="mdl-tooltip" data-mdl-for="title">
          Powered by Project D(rcom).
      </div>
    </header>

    <main id="app" class="mdl-layout__content">
      <div class="container mdl-shadow--2dp">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select" style="margin-left: 3rem;">
          <input class="mdl-textfield__input" :value='version_selected' type="text" id="version_selected" readonly tabIndex="-1" :data-val='version_selected' v-model.lazy='version_selected' />
          <label class="mdl-textfield__label" for="version_selected">Select your version</label>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="version_selected">
            <li class="mdl-menu__item" :data-val='version' v-for='version in versions'>{{ version }}</li>
          </ul>
        </div>
        <button @click='parseConfig' class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="margin-left: 2rem;">
          Open
        </button>
        <button @click='saveConfig' class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="margin-left: 2rem;">
          Save
        </button>
      </div>
      <div class="mdl-textfield mdl-js-textfield leftpanel" id="panel">
        <textarea class="mdl-textfield__input" id="textfield" v-model="result" spellcheck="false"></textarea>
        <label class="mdl-textfield__label" for="textfield"></label>
      </div>
    </main>
  </div>

  <script src="static/libs/material.min.js"></script>
  <script src="static/libs/FileSaver.min.js"></script>
  <script src="static/libs/getmdl-select.min.js"></script>
  <script src="static/libs/vue.js"></script>
  <!-- <script src="static/libs/vue.min.js"></script> -->
  <script src="static/app.js"></script>
</body>

<style>
  #panel {
    width: 94%;
    margin: 0 3rem;
  }

  #panel > textarea {
    resize: none;
    height: calc(100vh - 14rem);
  }
</style>
</html>
